.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}


.image_label {
    color: 'white';
    font-size: 30px;
    font-weight: '800';
    /* opacity: 0; */
    position: 'absolute';
    bottom: 0;
    /* animation: slideUp .4s ease, slideDown .4s ease 3s forwards; */
}

@keyframes slideUp {
    from {
      bottom: 50px;
      opacity: 0
    }
    to {
      bottom: 40px;
      opacity: 1
    }
  }

  @keyframes slideDown {
    from {
      bottom: 40px;
      opacity: 1;
    }
    to {
      bottom: 50px;
      opacity: 0;
    }
  }


